@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Ms+Madi&family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("http://fonts.cdnfonts.com/css/netron");

:root {
  /* colors */
  --clr-background: rgb(245, 245, 245);
  --clr-font: #000;
  --clr-primary-100: #000;
  --clr-primary-200: #ff0000;
  --clr-primary-300: #00a156;

  --clr-green-100: #64cd91;
  --clr-purple-100: #533a7c;
  --clr-pink-100: #da78ff;
  --clr-pink-200: #e382ff;
  --clr-pink-300: #eba0ff;

  /* fonts */
  --ff-netron: "Netron", sans-serif;
  --ff-art: "Dancing Script", cursive;
  --ff-design: "Ms Madi", cursive;
}

/*
*/

*,
*::before,
*::after {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  position: relative;
  width: 100vw;
  min-height: 90vh;
  background-color: var(--clr-background);
}

#side-bar__container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  backdrop-filter: blur(1px);
}

#side-bar__inner {
  width: min(80rem, 100vw);
  height: 100vh;
}

#side-bar__header {
  display: flex;
  justify-content: space-between;
  padding-inline: 2rem;
  padding-block: 5vh;
}
