body[data-theme="light"] {
  --clr-background: rgb(245, 245, 245);
  --clr-font: black;
  --clr-green-800: green;
  --clr-gray: gray;
  --clr-light-gray: gainsboro;
  --clr-gray-300: rgba(187, 187, 187);
  --clr-gray-100: rgb(235, 235, 235);
}

* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--clr-font);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: black;
  background-color: var(--clr-background);
}

main {
  display: flex;
  align-items: flex-start;
  width: min(99%, 90rem);
  padding-bottom: 5rem;
}

#aside {
  display: flex;
  position: sticky;
  top: 10px;
  min-height: fit-content;
  border-radius: 20px;
  border: 1px solid var(--clr-gray);
}

#aside-list > li {
  padding: 5px;
  border-radius: 50px;
}
#aside-list > li:where(:hover, :focus-visible) {
  background-color: var(--clr-light-gray);
}

#aside-list > li > a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 2px;
}

.show-600 {
  display: none;
  color: black;
}

@media screen and (max-width: 700px) {
  #aside {
    padding: 4px;
    justify-content: center;
  }
  .show-600 {
    display: block;
  }
  .hide-600 {
    display: none;
  }
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 340px) {
  #aside {
    padding: 1px;
    justify-content: center;
  }
  .show-600 {
    display: block;
  }
  .hide-600 {
    display: none;
  }
  #content {
    padding: 5px;
  }
  #content > article {
    flex-grow: 1;
  }
}

#content {
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1400) {
  #content > article {
    width: 140px;
    flex-shrink: 2;
    flex-grow: 0;
  }
}

#content > article {
  min-width: 40%;
  max-width: 35rem;
  flex-grow: 1;
}

.toggle-switch {
  border: 2px solid var(--clr-gray-300);
  width: 44px;
  height: 24px;
  border-radius: 50px;
  background-color: var(--clr-gray-300);
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s ease-out border-color, background-color 0.3s ease-out;
}
.toggle-switch_inner {
  margin-left: 0px;
  display: grid;
  justify-items: center;
  background-color: var(--clr-gray-100);
  width: 20px;
  aspect-ratio: 1;
  border-radius: 100%;
  transition: 0.25s ease-out margin-left;
}
.toggle-input[checked] + .toggle-switch > div {
  opacity: 1;
  margin-left: 20px;
  background-color: rgba(245, 245, 245, 0.9);
}
.toggle-input[checked] + .toggle-switch {
  opacity: 1;
  background-color: var(--clr-green-800);
  border-color: var(--clr-green-800);
}

#submit-btn-container {
  width: 100%;
}

#submit-btn {
  border: none;
  margin-left: auto;
  margin-right: 10%;
  transition: 0.2s ease-out background-color;
}
#submit-btn:where(:hover, :focus-visible) {
  background-color: var(--clr-gray);
}
