body[data-theme="light"] {
  --clr-background: rgb(245, 245, 245);
  --clr-font: black;
  --clr-green-800: green;
  --clr-gray: gray;
  --clr-light-gray: gainsboro;
  --clr-gray-300: rgba(187, 187, 187);
  --clr-gray-100: rgb(235, 235, 235);
}

* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--clr-font);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: black;
  background-color: var(--clr-background);
}

main {
  display: flex;
  align-items: flex-start;
  width: min(99%, 90rem);
  min-height: 82vh;
  padding-bottom: 5rem;
}

#aside {
  display: flex;
  position: sticky;
  top: 10px;
  min-height: fit-content;
  border-radius: 20px;
  border: 1px solid var(--clr-gray);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    font-size: 0.2rem;
  }
  100% {
    opacity: 1;
    font-size: auto;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    font-size: auto;
  }
  100% {
    margin: 0;
    padding: 0;
    opacity: 0;
    font-size: 0;
  }
}

#aside-list > li {
  padding: 5px;
  border-radius: 50px;
}
#aside-list > li:where(:hover, :focus-visible) {
  background-color: var(--clr-light-gray);
}

#aside-list > li > a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 2px;
}

.show-600 {
  display: none;
  color: black;
}

@media screen and (max-width: 700px) {
  #aside {
    padding: 4px;
    justify-content: center;
  }
  #aside-list > li > a > span {
    font-size: 0.85rem;
  }
  .show-600 {
    display: block;
  }
  .hide-600 {
    display: none;
  }
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 340px) {
  #aside {
    padding: 1px;
    justify-content: center;
  }
  .show-600 {
    display: block;
  }
  .hide-600 {
    display: none;
  }
  #content {
    padding: 5px;
  }
  #content > article {
    flex-grow: 1;
  }
}

#content {
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#content > #work-box {
  max-width: 92%;
}

#content > #notifications-box {
  max-width: 92%;
}

@media screen and (max-width: 1400px) {
  #content > #work-box {
    max-width: 100%;
  }
  #content > #notifications-box {
    max-width: 100%;
  }
}

#content > article {
  min-width: 40%;
  max-width: 35rem;
  flex-grow: 1;
}

#settings-page {
  animation: fadeUp 0.4s ease-out forwards;
}

.toggle-switch {
  border: 2px solid var(--clr-gray-300);
  width: 44px;
  height: 24px;
  border-radius: 50px;
  background-color: var(--clr-gray-300);
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s ease-out border-color, background-color 0.3s ease-out;
}
.toggle-switch_inner {
  margin-left: 0px;
  display: grid;
  justify-items: center;
  background-color: var(--clr-gray-100);
  width: 20px;
  aspect-ratio: 1;
  border-radius: 100%;
  transition: 0.25s ease-out margin-left;
}
.toggle-input[checked] + .toggle-switch > div {
  opacity: 1;
  margin-left: 20px;
  background-color: rgba(245, 245, 245, 0.9);
}
.toggle-input[checked] + .toggle-switch {
  opacity: 1;
  background-color: var(--clr-green-800);
  border-color: var(--clr-green-800);
}

#submit-btn-container {
  width: 100%;
}

#submit-btn {
  border: none;
  margin-left: auto;
  margin-right: 10%;
  transition: 0.2s ease-out background-color;
}
#submit-btn:where(:hover, :focus-visible) {
  background-color: var(--clr-gray);
}

.delete-todo {
  background-color: rgb(167, 41, 41);
  outline: 1px solid rgb(167, 41, 41);
  color: white;
  transition: background-color 0.2s ease-out, outline-color 0.2s ease-out;
}

.delete-todo:where(:hover, :focus-within) {
  background-color: var(--clr-font);
  outline-color: var(--clr-font);
}

#work-box {
  border: 1px solid var(--clr-gray);
}

.work-box {
  display: flex;
  max-width: 40%;
  flex-direction: column;
  border: 1px solid var(--clr-light-gray);
}

@media screen and (max-width: 1400px) {
  .work-box {
    max-width: none;
  }
}

.top-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.change-pic {
  position: relative;
  width: 60px;
  aspect-ratio: 1;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 50%;
  transition: 0.2s ease-out border-radius 0.03s;
}

.change-pic > img {
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: 50%;
  outline: rgba(0, 0, 0, 0.4) 1px solid;
  transition: 0.2s ease-out border-radius 0.03s;
}

.change-pic > img:where(:focus-visible, :hover),
.change-pic:where(:focus-visible, :hover) {
  border-radius: 15px;
  box-shadow: 0 0 0 1px rgba(46, 46, 46, 0.575);
}

.change-name-form {
  position: relative;
}

.text-input {
  width: clamp(15rem, 70vw, 25rem);
  color: rgba(0, 0, 0, 0.6);
  font-weight: normal;
  font-size: 0.95rem;
  padding: 0.45rem 0.9rem;
  border: none;
  outline: 1px solid rgba(0, 0, 0, 0.342);
  border-radius: 50px;
}

.text-input:where(:focus-visible, :hover) {
  outline: 1px solid rgba(0, 89, 255, 0.5);
  box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.2);
}

.submit-btn {
  width: fit-content;
  padding: 0.3rem 0.6rem;
  font-weight: 500;
  font-size: 0.9rem;
  border: none;
  border-radius: 50px;
  background-color: rgba(128, 128, 128, 0.9);
  color: white;
  transition: 0.15s ease-out background-color;
}

.submit-btn:where(:focus-visible, :hover) {
  background-color: rgba(8, 0, 117, 0.5);
}

#notifications-box .notification {
  min-width: 30%;
  max-width: 33rem;
  flex-grow: 1;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    translate: 0 50px;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}
