@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Ms+Madi&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("http://fonts.cdnfonts.com/css/netron");

:root {
  /* colors */
  --clr-background: rgb(250, 250, 250);
  --clr-background-200: rgb(239, 243, 246);
  --clr-font: #000;
  --clr-primary-100: #000;
  --clr-primary-200: #ff0000;
  --clr-primary-300: #00a156;

  --clr-green-100: #65cd92;
  --clr-purple-100: #6c63ff;
  --clr-pink-100: #da78ff;
  --clr-pink-200: #e382ff;
  --clr-pink-300: #eba0ff;

  /* fonts */
  --ff-netron: "Netron", sans-serif;
}

/*
*/

*,
*::before,
*::after {
  font-family: "poppins", sans-serif;
  color: var(--clr-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
}

body > main {
  width: min(100vw, 40rem);
  padding: 1rem;
}

body > main > header {
  display: flex;
  gap: 1rem;
}

#account__img {
  position: relative;
  width: fit-content;
  height: fit-content;
}

#changeImg {
  position: absolute;
  left: 0;
  bottom: 0.5rem;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  backdrop-filter: blur(2px);
  cursor: pointer;
  padding: 0.2rem;
  z-index: 1;
}

#account__img img {
  height: clamp(10rem, 2vw, 15rem);
  aspect-ratio: 1;
  position: relative;
  outline: 1px solid black;
}

#account__info {
  display: grid;
  height: fit-content;
}

#account__info:nth-child(1) {
  font-family: var(--ff-netron);
}

#account__info > * {
  font-weight: normal;
}

#dash-board-btn {
  margin-top: 0.5rem;
  background-color: var(--clr-font);
  color: var(--clr-background);
  outline: 1px solid var(--clr-font);
  width: fit-content;
  padding-inline: 1rem;
  padding-block: 0.2rem;
  border-radius: 50px;
  transition: background-color 0.2s ease-out, outline 0.2s ease-out;
}

#dash-board-btn:where(:hover, :focus-visible) {
  outline: 1px solid var(--clr-primary-200);
  background-color: var(--clr-primary-200);
}

@media screen and (max-width: 450px) {
  body > main > header {
    display: grid;
    justify-items: center;
    text-align: center;
  }
}

input[type="text"],
input[type="password"] {
  margin-top: 0.5rem;
  width: 80%;
  outline: 1px var(--clr-purple-100) solid;
  background-color: transparent;
  border: none;
  font-weight: normal;
  padding-inline: 1em;
  padding-block: 0.5em;
  margin-left: 1vw;
  color: var(--clr-font);
}

@media screen and (max-width: 450px) {
  button[type="submit"] {
    margin-left: 1rem;
    margin-block: 1rem;
  }
  input[type="text"],
  input[type="password"] {
    width: 90%;
  }
}

button[type="submit"] {
  outline: 1px solid var(--clr-font);
  background-color: transparent;
  background-color: var(--clr-font);
  color: var(--clr-background);
  border: none;
  padding-inline: 1em;
  padding-block: 0.5em;
  cursor: pointer;
  transition: 0.2s ease-out background-color, outline 0.2s ease-out;
}

button[type="submit"]:where(:hover, :focus-visible) {
  outline: 1px solid var(--clr-primary-200);
  background-color: var(--clr-primary-200);
}
